@import url("https://fonts.googleapis.com/css?family=Roboto");
.container {
  height: 50vh;
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-rows: [header-start] 150px [header-end menu-start] minmax(min-content, 1fr) [menu-end clock-start] 65% [clock-end];
  grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
  font-family: "roboto", sans-serif; }

.header {
  grid-row: header-start / header-end;
  font-size: 6rem;
  grid-column: 1/-1;
  color: #282820;
  background: #d3d4c8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-image: repeating-linear-gradient(136deg, rgba(64, 46, 46, 0.5) 1%, rgba(242, 229, 21, 0.5) 2%, rgba(59, 42, 42, 0.5) 3%), repeating-linear-gradient(60deg, rgba(162, 126, 126, 0.5) 1%, rgba(242, 229, 21, 0.5) 2%, rgba(59, 42, 42, 0.5) 3%), repeating-linear-gradient(#402e2e 1%, red 3%, #b1a70a 2%, #3b2a2a 3%); }
  @media (max-width: 900px) {
    .header {
      font-size: 3rem; } }

.menu {
  grid-row: menu-start / menu-end;
  grid-column: 1/-1;
  display: flex;
  color: white;
  align-items: center;
  background: #282820;
  padding-bottom: 5px; }
  .menu__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    flex: 1; }
    .menu__box-active {
      background: #f5f65c;
      color: #282820; }
  .menu__title {
    font-size: 1.5rem;
    padding: 5px;
    margin: 3px; }
  .menu__control {
    background: silver;
    width: 50%;
    display: flex;
    font-size: 2rem;
    justify-content: space-around; }
  .menu .value {
    flex: 2;
    text-align: center;
    background: #313227; }
  @media (max-width: 550px) {
    .menu {
      flex-direction: column; } }

.clock {
  grid-row: clock-start / clock-end;
  grid-column: 1/-1;
  background: #d3d4c8;
  display: flex;
  flex-direction: row; }
  .clock__control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #282820; }
  .clock__value {
    color: black;
    font-size: 500;
    background: gold;
    flex: 2;
    position: relative;
    height: 100%; }
    .clock__value__time {
      font-size: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  @media (max-width: 600px) {
    .clock {
      flex-direction: column-reverse; } }

.btn {
  color: yellow;
  text-transform: uppercase;
  background: #313227;
  outline: none;
  border: none;
  font-size: 1.5rem;
  padding: 5px; }
  .btn:hover {
    background: #5b5d49; }
